/* ヘッダー */
.header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  background-color: lightgray;
}

#casteria {
  font-weight: bold;
  font-size: 25px;
}
.search-form {
  display: flex;
}


/* .swiper */
.swiper--wrapper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}

.images {
  width: 50vw;
  height: 75vh;
}

/* メイン */
.body {
  width: auto;
  height: auto;
  background-color: #FFEFD5;
}

.top {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.info {
  background-color: #FFC7AF;
  margin: 2px
}
.latrst-info {
  font-size: 30px;
}

.detail {
  font-size: 20px;
  margin: 15px 0px;
}

/* フッター */
.footer {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: darkgray;
  align-items: center;
  justify-content: center;
}

.footer1 {
  margin: 10px;
}
