/* ヘッダー */
.header {
  width: 100vw;
  padding: 1vh 10vw;
  display: flex;
  background-color: lightgray;
}

.header-row {
  display: flex;
  align-items: center;
}

.casteria {
  font-weight: bold;
  font-size: 30px;
}
.search-form {
  display: flex;
}

.border {
  outline: none; 
  border: none;
}

/* .swiper */
.swiper--wrapper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 300px;
}

.images {
  width: 50vw;
  height: 75vh;
}

/* メイン */
.body {
  background-color: #FFEFD5;
}

.top {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.info {
  font-size: 35px;
  font-weight: bold;
}

.information {
  background-color: #FFC7AF;
  border: none;
  outline: none;
  display: flex;
  font-weight: bold;
  font-size: 25px;
}

.accordion-body {
  font-size: 18px;
  background-color: #FFEFD5;
}

.detail {
  font-size: 20px;
  margin: 15px 0px;
}

.signature {
  font-size: 30px;
  font-weight: bold;
  margin:100px 20px 15px;
}

.mid-body {
  display: flex;
  justify-content: space-around;
}

.picture {
  margin-bottom: 100px;
  height:  80%;
  width: 100%;
}

.intro {
  font-size: 22px;
  padding-top: 50px;
}


.restaurants {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-size: 30px;
}

.row-back {
  background-color: black;
  padding:30px ;
}

.time-place {
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0px;
}

.intro-color {
  color: white;
  font-size: 18px;
}

.img-hidden {
  display: flex;
  justify-content: space-around;
}

.rounded-circle {
  max-width: 100%; 
  max-height: 100%; 
}

.place {
  margin-bottom: 20px;
}

/* フッター */
.footer {
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: darkgray;
  align-items: center;
  justify-content: center;
}

.footer1 {
  margin: 10px;
}

/* Bootstrap */
.container { 
  padding-right: 15px; 
  padding-left: 15px; 
  margin-right: auto; 
  margin-left: auto; 
} 

@media (min-width: 768px) { 
  .container { 
      width: 750px; 
      } 
  } 

@media (min-width: 992px) { 
  .container { 
      width: 970px; 
      } 
  } 

@media (min-width: 1200px) { 
  .container { 
      width: 1170px; 
      } 
  }